---
layout: default
---
<section class="m-t-2">
  <div class="container">
    {% for post in site.posts %}
    <div class="row m-b-3">
      <div class="col-xs-12">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {% if post.content contains '<!--more-->' %}
  				{{ post.content | split:'<!--more-->' | first }}
  			{% else %}
  				{{ post.excerpt }}
  			{% endif %}
  			<a href="{{ post.url }}">read more</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
