<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="alternate" type="application/rss+xml" href="/feed.xml"/>
<meta name="description" content="A Node.js based platform for building sophisticated Voice Conversations" />
<meta name="keywords" content="voice" />
<meta name="author" content="Vineet Sinha" />
<link rel="icon" type="image/png" href="/assets/images/logo.png">
<link rel="manifest" href="/assets/images/favicon/manifest.json">
<link rel="shortcut icon" href="/assets/images/logo.png">
<meta name="msapplication-TileColor" content="#663fb5">
<meta name="msapplication-TileImage" content="assets/images/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="assets/images/favicon/browserconfig.xml">
<meta name="theme-color" content="#663fb5">
<link type="text/css" rel="stylesheet" href="/assets/css/landio.css">
<link type="text/css" rel="stylesheet" href="/assets/css/prism.css" />
<style>
  .btn-primary { margin-left: 14px; margin-right: 14px; }
  #inline-code { /*background-color:#f4f5f7; color: inherit;*/ padding: 5px; }
  .line-numbers-sizer { height: 25px; }
</style>
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
