<!-- Navigation
================================================== -->

<nav class="navbar navbar-dark bg-inverse bg-inverse-custom">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.png" style="width:80px;"/>
      <span>Violet</span>
    </a>
    <a class="navbar-toggler hidden-md-up pull-xs-right" onclick="$('#collapsingNavbar').toggle()">
    &#9776;
  </a>

    <div id="collapsingNavbar" class="collapse navbar-toggleable-custom" role="tabpanel" aria-labelledby="collapsingNavbar">
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item nav-item-toggable">
          <a class="nav-link" href="/docs/quickstart" id="totop">Documentation</a>
        </li>
        <li class="nav-item nav-item-toggable">
          <a class="nav-link" href="/docs/conversation-flow-design">Conversational Flow</a>
        </li>
        <li class="nav-item nav-item-toggable">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item nav-item-toggable">
          <a class="nav-link link-external" href="https://github.com/salesforce/violet-conversations" target="_blank">GitHub</a>
        </li>
        <li class="nav-item nav-item-toggable">
          <a class="nav-link link-external" href="https://github.com/salesforce/violet-conversations/releases" target="_blank">v{{ site.release_version }}.x</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
