{% assign urlWithDash  = page.url | split:'-' %} {% comment %} test for within conversation flow section:::: urlWithDash[0] == '/docs/conversation' {% endcomment %}
{% assign urlWithSlash = page.url | split:'/' %} {% comment %} test for within api documentation section:::: urlWithSlash[1] == 'api' {% endcomment %}
<h2><a href="/docs/quickstart">Developer Guides</a></h2>
{% if urlWithDash[0] == '/docs/conversation' or urlWithSlash[1] == 'api' %}<!-- hide guide -->{% else %}
<ul>
  <li {% if page.url == '/docs/prerequisites' %} class="active" {% endif %}><a href="/docs/prerequisites">Prerequisites</a></li>
  <li {% if page.url == '/docs/quickstart' %} class="active" {% endif %}><a href="/docs/quickstart">Get Started</a></li>
  <li {% if page.url == '/docs/core-concepts' %} class="active" {% endif %}><a href="/docs/core-concepts">Core Concepts</a></li>
  <li {% if page.url == '/docs/building-widgets' %} class="active" {% endif %}><a href="/docs/building-widgets">Building Widgets</a></li>
  <li {% if page.url == '/docs/debugging' %} class="active" {% endif %}><a href="/docs/debugging">Debugging</a></li>
  <li {% if page.url == '/docs/best-practices' %} class="active" {% endif %}><a href="/docs/best-practices">Best Practices</a></li>
  <li {% if page.url == '/docs/dev-tips' %} class="active" {% endif %}><a href="/docs/dev-tips">Misc Tips</a></li>
</ul>
{% endif %}
<h2><a href="/docs/conversation-flow-design">Conversational Flow</a></h2>
<h2><a href="/api">API</a></h2>
<h2><a href="/docs/contributing">Contributing</a></h2>
