/*body {
  background-color: #f2f2f2;
  margin: 0px;
}*/
nav {
  margin-top: 0px;
  width: auto;
  border-left: medium none currentColor;
  float: right;
  padding-left: 20px;
}
nav ul a, nav ul a:visited, nav ul a:active {
  font-family: inherit;
}
nav#sideNav ul a, nav#sideNav ul a:visited, nav#sideNav ul a:active {
  line-height: 24px;
}
nav li {
  margin-top: inherit;
}
nav.navbar {
  float: none;
}
section {
  background-color: inherit;
}
#top_banner {
  display: block;
  position: absolute;
  top:5PX;
  right: 10px;
  z-index: 10;
}

#menu, #forkme_banner {
  color: #fff;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#menu {
  padding: 10px 10px 10px 10px;
}
#forkme_banner {
  padding: 10px 50px 10px 10px;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
}
#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  /*padding: 50px 10px 30px 10px;*/
  padding: 10px 10px 10px 10px;
}

#project_title a {
  color: #fff;
}
#project_title {
  margin: 0;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 720px;
  padding: 20px 10px;
  margin: 0 auto;
}

#main_wrap {
  /*max-width: 768px;*/
  margin: 0 auto;
  /* margin-top: 120px; */
}

#main {
  float: none;
  width: auto;
}

html {
  font-size: inherit;
}

section {
  padding: 0px;
}

/* prettify customization */
.prettyprint code, .prettyprint.linenums {
  background-color: #272822;
}
.prettyprint.linenums {
  line-height: 1.5;
}
.prettyprint.linenums li {
  border-left: 1px #ddd solid
}
/*comment*/.com {color: slategray}
/*plain-text*/.pln, /*punctuation*/.pun {color: #f8f8f2}
/*string*/.str {color: #a6e22e}
/*keyword*/.kwd {color: #66d9ef}

/* is this a good idea? seems to catch all the scopes, but does anything else get caught in it? */
.type-signature {
  display: none
}
