---
layout: default
---
<section class="m-t-2">
  <div class="container">
    {% for post in paginator.posts %}
    <div class="row m-b-3">
      <div class="col-xs-12">
        <h2>
          {% if post.content contains '<!--short-->' %}
            <a class="post-link">{{ post.title | escape }}</a>
    			{% else %}
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    			{% endif %}
        </h2>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {% if post.content contains '<!--more-->' %}
  				{{ post.content | split:'<!--more-->' | first }}
  			{% else %}
  				{{ post.excerpt }}
  			{% endif %}
        {% if post.content contains '<!--short-->' %}
  			{% else %}
          <a href="{{ post.url }}">read more</a>
  			{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="container pagination">
    <div class="older" style="float:left">
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">&lsaquo;&lsaquo; Older Entries</a>
          {% endif %}
        </div>
        <div class="newer" style="float:right">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Newer Entries &rsaquo;&rsaquo;</a>
          {% endif %}
        </div>
    <!-- <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->
  </div>
</section>
